<div class="row topMargin">
  <div class="col-md-3 "></div>
  <div class="col-md-6 ">
    <div class="card text-center">
      <div class="card-header">
        LOGIN
      </div>
        <div class="card-body">
          <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="email" name ="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="loginPostId">Post ID</label>
            <input type="integer" class="form-control" [(ngModel)]="postId" name ="psotId" placeholder="post id">
          </div>
          <button (click)="login(email, postId)" class="btn btn-primary">Click me!</button>
        </div>
    </div>
  </div>
</div>